<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.Mapper.SuggBoardMapper">
	
 	<insert id="insertBoard" parameterType="kr.smhrd.entity.SuggBoard">
		insert into tbl_suggboard(title, writer, content, filename) values(#{title}, #{writer}, #{content}, #{filename})
	</insert>
	
	<select id="suggBoardList" resultType="kr.smhrd.entity.SuggBoard">
		select * from tbl_suggboard order by writetime desc
	</select>
	
	<select id="SboardContent" parameterType="int" resultType="kr.smhrd.entity.SuggBoard">
		select * from tbl_suggboard where suggboard_idx=#{suggboard_idx}
	</select>
	
	<delete id="deleteSBoard" parameterType="int">
		delete from tbl_suggboard where suggboard_idx=#{suggboard_idx}
	</delete>
	
	
</mapper>